/* Reset de estilos */
*,
*::after,
*::before {
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* Estilos globales */
a {
    color: white;
    text-decoration: none;
}

body {
    background-color: #F0F0F0;
    font-family: 'Roboto', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}

/* Encabezado */
.header {
    align-items: center;
    background-image: linear-gradient(rgba(1, 1, 4, 0.6), rgba(1, 1, 4, 0.6)),
        url('../assets/img/design1_image1.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
}

/* Navegación */
.nav__item {
    list-style: none;
    margin: 0 15px;
}

.nav__link {
    font-size: 18px;
    position: relative;
    text-decoration: none;
}

.nav__link::after {
    background-color: #F7E02E;
    bottom: -5px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease-in-out;
    width: 100%;
}

.nav__link:hover::after {
    transform: scaleX(1);
}

.nav__list {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;
}

.nav__logo {
    height: 200px;
    width: 200px;
}

/* Registrarse */
.btn-register {
    align-items: center;
    background-color: red;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 10px;
    position: relative;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 200px;
}

.btn-register span.material-symbols-outlined {
    transition: transform 0.3s ease;
}

.btn-register:hover {
    background-color: rgb(243, 69, 69);
    box-shadow: 0px 2px 6px rgba(243, 69, 69, 0.5);
}

.btn-register:hover span.material-symbols-outlined {
    transform: translateX(5px);
}

/* Próximos eventos */
.content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 3%;
    padding-top: 3%;
    width: 80%;
}

.event {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.event-date {
    text-decoration: underline;
}

.event-date-center {
    text-align: center;
}

.event-date-information {
    font-size: 40px;
}

.event-list {
    flex: 1;
    font-size: 1.8em;
    list-style: none;
}

.event-list-information {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-list-information__img {
    border-radius: 100%;
    height: 150px;
    width: 150px;
}

.event-title {
    font-size: 25px;
    padding-left: 5%;
}

.hockey-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    width: 100%;
}

.image-section {
    flex: 1;
}

.list-item {
    list-style: none;
    margin-bottom: 50px;
    text-align: center;
}

/* Barra de eventos próximos */
.upcoming-events {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    justify-content: center;
    width: 100%;
}

/* Contenido de reglas */
.section-rules {
    padding: 20px;
}

.section-rules h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.section-rules h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.section-rules p {
    font-size: 16px;
    margin-bottom: 20px;
}

.section-rules strong {
    font-weight: bold;
}

/* Estilos de la tarjeta */
.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 40px;
    width: 80%;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    margin-bottom: 15px;
}

.card strong {
    font-weight: bold;
}

/* Estilo adicional para las imágenes con sombra */
.event-list-information__img-container {
    display: inline-block;
    position: relative;
}

.event-list-information__img {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    box-shadow: 0px 2px 4px rgba(247, 224, 46, 0.5);
    /* Sombra dorada */
}

.section-rules__sub-title,
.rule-list li {
    margin-bottom: 10px;
    padding: 5px;
}

.section-rules__main-title,
.section-rules__sub-title,
.section-rules__paragraph {
    text-align: center;
}

.nav__logo__policies__container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav__logo__policies {
    height: 150px;
    width: 150px;
}

.sub-rule-list li {
    list-style: none;
}

/* Tabla de horario */
.schedule-table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin: 0 auto;
    width: 80%;
}

.schedule-table th,
.schedule-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.schedule-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Contenedor de información */
.info-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
}

.info-container p {
    margin-bottom: 15px;
}

/* Enlace de correo de contacto */
.contact-email {
    color: black;
    text-decoration: underline;
}